---
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

import { DISCORD_INVITE } from '~/constants';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1449300079323-02e209d9d3a6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=4160&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Gurkult <br />
      <span class="text-accent dark:text-white highlight"> An Open Source Cult</span>
    </Fragment>

    <Fragment slot="subtitle">
      We're the first and only open source community. We believe in, well, cucumbers, which is what the Swedish word
      “gurka” means in English. We just want to have some fun and develop fantastic projects together, all as Gurkans.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Members', amount: '120+' },
      { title: 'Founded in', amount: '2020' },
      { title: 'Messages sent', amount: '500k+' },
      { title: 'OSS Projects', amount: '11+' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="We believe in cucumbers"
    subtitle="And cucumbers believe in us. We are the first and only open source cult, and we're proud of it. We're a community of developers, designers, and other creative people, who love to create and have fun together."
    items={[
      {
        title: 'Open source',
        description:
          'Since we believe in open source and open collaboration, all of our projects are publicly available on GitHub.',
        icon: 'tabler:code',
      },
      {
        title: 'Fun',
        description: 'We are a community of people who love to create and have fun together.',
        icon: 'tabler:mood-smile-beam',
      },
      {
        title: 'Gurkans',
        description:
          'The cucumbers are the ones who guide us through our journey, and they are the ones we believe in.',
        icon: 'tabler:seeding',
      },
    ]}
    columns={3}
    isBeforeContent={true}
    image={{
      src: 'https://images.pexels.com/photos/1000445/pexels-photo-1000445.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Organization"
    subtitle="In order to effectively spread our Gurkan cult, we have clear roles to help move the community forward."
    items={[
      {
        title: 'Supreme Cucumber',
        description:
          'The leader of the Gurkans, chosen by the cucumbers themselves to bring prosperity to the community.',
      },
      {
        title: 'Gurkan Steering Council',
        description:
          'The Council makes sure everything is running smoothly in Gurkult, and manages the taxes of Gurkland. They are hand-picked by the Supreme Cucumber for their superb qualities.',
      },
      {
        title: 'Gurkan Lords',
        description:
          'Gurkan Lords make sure our OSS projects are moving toward the goals, and have received the role due to their immense contributions and dedication to the community.',
      },
      {
        title: 'Contributor Gurkans',
        description:
          'For their contributions to the community, Contributor Gurkans are given the recognition they deserve.',
      },
      {
        title: 'Gurkans',
        description:
          'As members of Gurkult, we are the heart and souls of Gurkult. We are the ones who make the community what it is. And we are the ones who make it prosper!',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Join us"
    subtitle="Seems interesting? We're always looking for new members, and we'd love to have you! Click the link below to get started!"
    callToAction={{
      text: 'Become a Gurkan',
      href: DISCORD_INVITE,
    }}
  />
</Layout>
