---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';

const metadata = {
  title: 'Gurkult - the Gurkan Open Source Community',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Join us',
        href: import.meta.env.PUBLIC_DISCORD_INVITE,
        target: '_blank',
        icon: 'tabler:arrow-right',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '/images/floating-cucumber.png', alt: 'Hero image' }}
  >
    <Fragment slot="title">
      <div class="text-primary dark:text-white highlight">Gurkult</div>
       The Open Source Cult
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Gurkult</span> is the first and only open source community. We believe in, well,
        cucumbers, which is what the Swedish word “gurka” means in English. We just want to have some fun and develop
        fantastic projects together, all as Gurkans.
      </span>
      <span class="inline sm:hidden">
        <span class="block mb-1 font-bold text-accent">An international community</span>
         The first and only open source community. We want to have fun and develop fantastic projects together, all as
        Gurkans.
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features3
    title="Perks of being a Gurkan"
    subtitle="Discover the advantages of being a Gurkan, and how you can get the most out of your membership."
    id="features"
    columns={2}
    items={[
      {
        title: 'Be part of a community',
        description: 'Join a large community of likeminded people, and make new friends from all over the world.',
        icon: 'tabler:users',
      },
      {
        title: 'Gurkcraft',
        description: "Access to the Gurkult Minecraft server, where you can build and explore to your heart's content.",
        icon: 'tabler:pick',
      },
      {
        title: 'Endless programming projects',
        description: 'As an open source community, there are always new projects to contribute to and learn from.',
        icon: 'tabler:code',
      },
      {
        title: 'Gurkult merchandise',
        description: 'Get access to exclusive Gurkult merchandise, such as stickers, t-shirts, and more.',
        icon: 'tabler:shopping-cart',
      },
      {
        title: 'No-cult cult',
        description: 'As a cult, we praise cucumbers. However, we will never exploit you for monitary gain.',
        icon: 'tabler:heart',
      },
      {
        title: 'Instant Access',
        description: `Immediate access all the perks of being a Gurkan right after joining!.`,
        icon: 'tabler:bolt',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Gurkland"
    title="Dive into the World of Gurkult"
    items={[
      {
        title: 'Community of Like-Minded Enthusiasts',
        description:
          'Connect with a diverse, welcoming community of like-minded individuals who share your passions and values.',
      },
      {
        title: 'Open Source Innovation',
        description:
          'Contribute to exciting open source projects and collaborate with passionate developers to make a meaningful impact.',
      },
      {
        title: 'Fun and Unique Experiences',
        description:
          'Enjoy lighthearted, one-of-a-kind experiences, including Gurkcraft and exclusive merchandise, while prioritizing your well-being and enjoyment.',
      },
    ]}
    image={{
      src: '/images/cucumber-painting.png',
      alt: 'Gurkan painting',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">A Peek Inside the Fun</h3>
       Explore What Makes Gurkult Stand Out - A Place of Community, Open Source Passion, and Playful Experiences
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Embark on a Journey Through Our Community, Delve into the Answers for Frequently Asked Questions, and Discover What Makes Gurkult Special."
    tagline="FAQ"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Are there any obligations to being a Gurkan?',
        description:
          'We expect everyone to be nice and respectful to each other, and to praise cucumbers in their own ways. Other than that, there are no obligations!',
      },
      {
        title: 'Can I test-join the cult before deciding if I want to become a Gurkan?',
        description:
          "We're an inclusive community, and welcome you to join us and see if you like it! Furthermore, you're always free to leave the server if you change your mind, but at heart you'll always be a Gurkan to us.",
      },
      {
        title: 'What is the Gurkult Minecraft server, Gurkcraft?',
        description:
          "Gurkcraft is our Minecraft server where you can build, explore, and create with fellow Gurkans. We've hosted it in seasons over many years. It's a place to unwind and have fun.",
      },
      {
        title: "Can I become a Gurkan if I'm not particularly tech-savvy?",
        description:
          'Absolutely! Gurkult is open to people from all walks of life, regardless of technical expertise. We value diversity, and anyone can join.',
      },
      {
        title: 'How can I get Gurkult merchandise?',
        description:
          "Gurkult merchandise, including stickers, t-shirts, and more, can be obtained by becoming a Gurkan and then heading to our shop (link under 'Shop Merch' in the navbar)",
      },
      {
        title: "What's the best way to connect with the Gurkult community?",
        description:
          "Join our Discord server, participate in discussions, and take part in our activities. It's a great way to engage with fellow Gurkans.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Members', amount: '120+' },
      { title: 'Founded in', amount: '2020' },
      { title: 'Messages sent', amount: '500k+' },
      { title: 'OSS Projects', amount: '11+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Ready to become a Gurkan?"
    subtitle="Join our global community of Cucumber lovers, and start reaping the benefits!"
    actions={[
      {
        variant: 'primary',
        text: 'Join now',
        href: import.meta.env.PUBLIC_DISCORD_INVITE,
      },
    ]}
  />
</Layout>
