---
import { SITE } from '~/utils/config';
import { Image } from 'astro:assets';
import logoBg from '~/assets/images/logo-bg.png';
---

<span
  class="flex items-center gap-2 self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={logoBg} alt="Gurkult logo" class="w-8 h-8 rounded-md" />
  {SITE?.name}
</span>
